body {
    background-color: #F2F2B6;
}

div {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    right: 50%;
}

div:nth-child(1) {
    transform: translate(140px, -50%);
    border-top: 0;
    border-bottom: 130px solid #FF6D00;
}

div:nth-child(2) {
    transform: translate(120px, -50%);
    border-top: 0;
    border-bottom: 130px solid#FD4602;
}

div:nth-child(3) {
    transform: translate(30px, -50%);
    border-bottom: 0;
    border-top: 130px solid #FD4602;
}

div:nth-child(4) {
    transform: translate(10px, -50%);
    border-bottom: 0;
    border-top: 130px solid #FF6D00;
}