body {
    background-color: #E38F66;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bigball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #AA445F;
}

.smallball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 30px solid #F7EC7D;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, -50%) rotate(45deg);
}