body {
    background-color: #6592CF;
    margin: 0;
}

/* configuration */

.flex {
    display: flex;
}

.invert {
    transform: rotate(180deg);
}

.center {
    justify-content: center;
}

/* colors */

.bg-dblue {
    background-color: #060F55;
}

.bg-lblue {
    background-color: #6592CF;
}

/* elements */

.box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0px;
    height: 250px;
    width: 140px;
}

.sm-bar {
    height: 110px;
    width: 20px;
    border-radius: 10px 10px 0 0;
}

.square {
    height: 30px;
    margin-top: -10px;
}

.bowl {
    height: 70px;
    border-radius: 0 0 70px 70px;
}

.bt-bar {
    height: 60px;
    width: 20px;
    margin-top: -10px;
}