/* Configuration */
:root {
    --color1: #1A4341;
    --color2: #998235;
    --color3: #F3AC3C;
    --color4: #0B2429;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: var(--color1);
}

/* Elements */
.item {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--color2) 50%, var(--color1) 50%);
}

.item:before,
.item:after {
    content: "";
    position: absolute;
}

.item:before {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--color4);
    transform: translate(30px, 30px)
}

.item:after {
    height: 100px;
    width: 100px;
    border-radius: 0 100% 0 0;
    background-color: var(--color3);
    transform: translate(75px, -25px)
}