:root {
    --color01: #007065;
    --color02: #FFEECF;
    --color03: #F5C181;
    --color04: #00A79D;
    --tr-height: 100px;
    --tr-width: 125px;
}

body {
    background-color: var(--color01);
    margin: 0;
}

div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: none;
    border: var(--tr-width) solid transparent;
}

div:nth-of-type(1) {
    transform: translate(-50%, 100px);
    border-bottom: var(--tr-height) solid var(--color04);
}

div:nth-of-type(2) {
    transform: translate(-50%, 50px);
    border-bottom: var(--tr-height) solid var(--color03);
}

div:nth-of-type(3) {
    transform: translate(-50%, 0%);
    border-bottom: var(--tr-height) solid var(--color02);
}