body {
    background-color: #62306d;
}

div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 0 0;
    background-color: #F7EC7D;
}

div::before,
div::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 0 0 50% 50%;
    background-color: #F7EC7D;
}

div::before {
    transform: translate(-100%, 100%);
}

div::after {
    transform: translate(100%, 0%);
}